{% extends 'base.html' %}

{% block title %}
	<title>Second page</title>
{% endblock %}

{% block body %}
	<h1>About shoop</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam molestias minima tenetur nemo, sit, inventore nesciunt, quod est voluptas nam eligendi repellendus. Quisquam voluptatibus distinctio dolores, exercitationem veniam error consectetur illum nam molestias dolor alias consequatur. Qui, aperiam! Itaque fugiat fuga obcaecati ab facere dolor amet pariatur vitae. Velit itaque inventore sunt iusto hic repudiandae nam sequi ullam est, aliquam eveniet voluptatibus voluptatum, iure libero quaerat doloribus recusandae porro temporibus, ad reprehenderit explicabo cumque eligendi? Sunt est optio possimus voluptatum, ipsum officia dicta dolores hic accusamus, placeat quaerat facere perspiciatis incidunt ex? Exercitationem fuga quidem, quam doloremque, debitis suscipit vel?</p>
{% endblock %}
