{% extends 'base.html' %}

{% block title %}
	<title>Second page</title>
{% endblock %}

{% block body %}
        <div class="artboard-content__container container">
        	<div class="artboard-content__block">
        		<div class="artboard-content__title">Peaky Blinders</div>
        		<div class="artboard-content__subtitle">Tommy Shelby is a fictional character played by Cillian Murphy in the British period crime drama Peaky Blinders. Murphy has won an Irish Film & Television Award and National Television Award for his portrayal of Shelby. The character has received positive reviews from a number of critics.

				Director Steven Knight cast Murphy for the role of Tommy Shelby. The character is a World War I veteran from a family based in Birmingham. In 1919, we are introduced to Shelby and the story largely revolves around his romance with Grace and his conflict with Inspector Campbell. Five years later, he marries Grace but Grace is killed shortly after at their wedding. Shelby's relationship with Alfie Solomons is a key element of many of the storylines in Peaky Blinders.</div>
        	</div>
        </div>
{% endblock %}
